<div id="banner">
  <h1>Welcome back.</h1>
</div>

<div id="form">
  <div class="col-md-6 offset-3">

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-newbtn' %>
    </div>
  <% end %>

  </div>
</div>
