<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <%= link_to('Fake PODCAST.FM', root_path , class: 'navbar-brand') %>
  <ul class="navbar-nav ml-auto">
    <% unless podcast_signed_in? %>
      <li><%= link_to 'Explore', podcasts_path, class:'nav-link' %></li>
      <li><%= link_to 'Sign In', new_podcast_session_path, class:'nav-link' %></li>
      <li><%= link_to 'Create Podcast', new_podcast_registration_path, class:'nav-link' %></li>
    <% else %>
      <li><%= link_to 'Explore', podcasts_path, class:'nav-link' %></li>
      <li><%= link_to 'Dashboard', root_path, class:'nav-link' %></li>
      <li><%= link_to 'Sign Out', destroy_podcast_session_path, class: 'nav-link', method: :delete =%></li>
    <% end %>
  </ul>
</nav>
