<!DOCTYPE html>
<html>
  <head>
    <title>Fake PODCAST.FM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render 'layouts/header' %>

      <%= render 'layouts/messages' %>

      <%= yield %>

      <script>
        $(document).ready(function(){
          setTimeout(function() {
            $(".alert").alert('close');
          }, 2000);
        });
      </script>

  </body>
</html>
